<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/hand.jpeg" alt="blog1" />
          <h3>Sample blog post 1</h3>
          <p><span>July 3, 2019</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href='#' class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/boat.jpeg" alt="blog1" />
          <h3>Sample blog post 2</h3>
          <p><span>July 3, 2019</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href='#' class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/sea.jpeg" alt="blog1" />
          <h3>Sample blog post 3</h3>
          <p><span>July 3, 2019</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href='#' class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/man.jpeg" alt="blog1" />
          <h3>Sample blog post 4</h3>
          <p><span>July 3, 2019</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href='#' class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/frog.jpeg" alt="blog1" />
          <h3>Sample blog post 5</h3>
          <p><span>July 3, 2019</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href='#' class="btn btn-danger">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/scene.jpeg" alt="blog1" />
          <h3>Sample blog post 6</h3>
          <p><span>July 3, 2019</span></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <a href='#' class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>